.grid {
  display: grid;
  padding-left: 40px;
  padding-right: 40px;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  height: 100%;
}
