.grid {
  display: grid;
  padding-left: var(--spacingXXL);
  padding-right: var(--spacingXXL);
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: auto;
  grid-column-gap: var(--spacingL);
  grid-row-gap: var(--spacingL);
  min-height: 100vh;
}
