:root {
  /*ref color tokens*/
  --black: 0, 0, 0;
  --dark-grey: 51, 51, 51;
  --mid-grey: 143, 163, 156;
  --light-grey: 221, 221, 221;
  --yellow: 252, 255, 151;
  --white: 255, 255, 255;

  /* ref type tokens */
  /* font size */
  --jumboHeadline-fontSize: 200px;
  --headline-fontSize: 96px;
  --titleL-fontSize: 56px;
  --bodyL-fontSize: 18px;
  --labelL-fontSize: 12px;

  /* line height */
  --jumboHeadline-lineHeight: 200px;
  --headline-lineHeight: 96px;
  --titleL-lineHeight: 56px;
  --bodyL-lineHeight: 28px;
  --labelL-lineHeight: 12px;

  /* letter spacing */
  --regular-letterSpacing: 0px;
  --extended-letterSpacing: 2px;

  /* text transform */
  --uppercase-textTransform: uppercase;

  /* misc tokens */
  /*opacities*/
  --divider: .2;

  /*spacing tokens*/
  --spacingXS: 4px;
  --spacingS: 8px;
  --spacingM: 12px;
  --spacingL: 16px;
  --spacingXL: 24px;
  --spacingXXL: 40px;
  --spacingXXXL: 80px;
}

/* color themes */
[data-theme="yellow"] {
  --surface: var(--yellow);
  --on-surface: var(--black);
  --on-surface-subtle: var(--mid-grey);
  --accent: var(--black);
}

[data-theme="black"] {
  --surface: var(--black);
  --on-surface: var(--white);
  --on-surface-subtle: var(--mid-grey);
  --accent: var(--yellow);
}

[data-theme="white"] {
  --surface: var(--white);
  --on-surface: var(--black);
  --on-surface-subtle: var(--mid-grey);
  --accent: var(--mid-grey);
}

[data-theme="grey"] {
  --surface: var(--mid-grey);
  --on-surface: var(--white);
  --on-surface-subtle: var(--black);
  --accent: var(--yellow);
}
