.jumboHeadline {
  font-size: var(--jumboHeadline-fontSize);
  line-height: var(--jumboHeadline-lineHeight);
  text-box-trim: trim-start;
  text-box-edge: cap alphabetic;
}

.titleL {
  font-size: var(--titleL-fontSize);
  line-height: var(--titleL-lineHeight);
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

.bodyL {
  font-size: var(--bodyL-fontSize);
  line-height: var(--bodyL-lineHeight);
}

.labelL {
  font-family: var(--mono-fontFace), Arial, Helvetica, sans-serif;
  font-size: var(--labelL-fontSize);
  line-height: var(--labelL-lineHeight);
  letter-spacing: var(--extended-letterSpacing);
  text-transform: var(--uppercase-textTransform);
}
