.projectRows {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 16;
  padding-top: var(--spacingXXXL);
}

.rowHeading {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 16;
  border-bottom: 1px solid rgba(var(--on-surface), var(--divider));
  padding-bottom: var(--spacingXL);
}

.company {
  composes: labelL from global;
  grid-column: 1 / span 4;
  color: rgba(var(--on-surface), 1);
}

.project {
  composes: labelL from global;
  grid-column: 5 / span 12;
  color: rgba(var(--on-surface), 1);
}
